$primary-color: #0030A9;
$primary-dark: #000E71;
$primary-light:#8CBCF5;
$danger-red:#FF2323;
$white: #ffffff;
$grey-border: #E2E2E2;
$grey-desc: #888888;
$grey-secondary-border:#eeeeee;
$font: 'Inter', sans-serif;

